_site/
_gh_pages

# OS or Editor folders
.DS_Store
._*
*.sublime-project
*.sublime-workspace
.cache
.project
.settings

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

.ruby-version